.TodoTemplate {
  background-color: white;
  width: 30rem;
  margin: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;

  .app-title {
    background-color: #6a67ce;
    text-align: center;
    padding: 1rem;
    color: white;
  }
  .content {
    background-color: white;
  }
}
