.TodoInsert {
  display: flex;

  background-color: white;

  .TodoInput {
    flex: 1 1 90%;
    border: 0;
    background: none;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .TodoBtn {
    flex: 1 1 10%;
    background-color: lightgray;
    border: 0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 320ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}
