.TodoInsert {
  display: flex;
  height: 2rem;

  .TodoInput {
    flex: 1 1 90%;
    background-color: white;
    border: 0;
  }
  .TodoBtn {
    flex: 1 1 10%;
    background-color: lightgray;
    border: 0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 200ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}
